ALTER TABLE discipline_entries ENABLE ROW LEVEL SECURITY; DROP POLICY IF EXISTS \
Enable
read
access
for
all
users\ ON discipline_entries; CREATE POLICY \Enable
read
access
for
all
users\ ON discipline_entries FOR SELECT USING (true);
